@page "/Changelog"
@using EventsManagementInterface.Data.Models
@inject EventsManagementInterface.Data.Services.AdministrationService administrationService

<PageTitle>Change Log</PageTitle>

<h1>Change Log</h1>
<div class="mt-5">
    <h4><b>1.0.0</b></h4>
    <ul>
        <li><label>User Acceptance Testing site: <a href="https://uat-coloplastfunday.azurewebsites.net/" target="blank">https://uat-coloplastfunday.azurewebsites.net/</a></label></li>
        <li>Vendor input page: <a href="https://uat-coloplastfunday.azurewebsites.net/vendor/input" target="blank">https://uat-coloplastfunday.azurewebsites.net/vendor/input</a></li>
        <li>Attendee registration page: <a href="https://uat-coloplastfunday.azurewebsites.net/registration" target="blank">https://uat-coloplastfunday.azurewebsites.net/registration</a></li>
    </ul>
</div>